<ion-item>
  <ion-thumbnail slot="start">
      <img [src]="offer.imageUrl">
  </ion-thumbnail>
  <ion-label> 
    <h2>{{offer.title}}</h2>
    <div class="offer-details">
      <ion-icon name="calendar" color="tertiary"></ion-icon>
      <ion-text color="primary" class="space-left">{{ offer.availableFrom | date}}</ion-text>
      <span class="space-left">to</span>
      <ion-icon name="calendar" class="space-left" color="tertiary"></ion-icon>
      <ion-text color="primary" class="space-left">{{ offer.availableTo | date}}</ion-text>
    </div>
  </ion-label>
</ion-item>